* {
    padding:0px; margin:0px; 
    box-sizing:border-box;
}
.menu-container{
    display:flex;
    color:#fff;
    background-color:#5995DA;
    padding:20px 0;
    margin:5px 0px;
    justify-content:center;
}
.menu{
    border:1px white solid;
    width:900px;
    display:flex; 
    justify-content:space-around;
    gap:1em;
}
.links{
    display:flex;
    justify-content: flex-end;
    gap:15px;
}
.about{
   
}